body {
  background-color: #e5e5e5;
  margin: 0;
}

.starting-page {
  background-color: #fff;
  border-radius: 0 0 0 5%;
}

#navigator_bar {
  display: flex;
}

.navigator_menu {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#navigator_bar nav:hover {
  cursor: pointer;
}

.menu-link {
  display: none;
}

#section-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-image: url(../mobile-first-portfolio/assets/header-shapes\ mobile.png);
  background-repeat: no-repeat;
}

.short-presentation {
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  text-align: start;
  margin: 0 24px;
  font-family: 'Poppins', sans-serif;
}

#section-presentation p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
  font-family: 'Poppins', sans-serif;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

h3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 34px;
  color: #172b4d;
  line-height: 44px;
}

footer h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #808bfb;
  margin-left: 24px;
}

#navigator_bar .logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #6070fd;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-top: 10px;
  width: 25%;
  margin-right: 60%;
}
